
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}

img{
  display:flex;
  margin:auto;
}

button{
  display: inline-block;
  padding: .35em 1.2em;
  border:.1em solid #000000;
  margin: 0 0.3em .3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all .2s;
  background-color: rgb(48, 48, 48);
}

button:hover{
  background-color: #FFFFFF;
  color: #000
}

.container {
  width:90%;
  margin: auto;
  padding-top:75px;
}

.sign-up-div{
  margin-bottom: 20px;
  max-width: 450px;
  padding:10px;

}

.sign-up-form{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-element{
  padding:5px;
  margin:5px;
}

.sign-up-button{
  width: 100%;
  margin: auto;
  position:fixed;
  background-color: red;
  color: White;
  font-weight: 800;
  padding:10px;
  
}

.sign-up-button p{
  text-align: center;
}

.questions{

  text-align: center;
}

.footer {
  width: 100%;
  margin:auto;
  padding:10px;
  font-size: 9pt;
  text-align: center;
}

.list-of-participants{
  max-width: 450px;
  padding:10px;
}

@media screen and (min-width: 425px) {
  .route-info h2 {
    text-align: left;
  }

  .list-of-participants h2 {
    text-align: left;
  }

  .form-and-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .route-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .race-desc img {
    float: right;
    padding:20px;
  }
}